<div class="hero-unit">

<h1>Welcome to Sidd's Pinterest!!</h1>
<p>
	Creating another project - this one will simulate Pinterest
	<br>
	Built by:
	<%= link_to "Sidd Tewari", "http://siddtewari.com" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>

</div>