<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Sidd's Pinterest</h1>
		<p>
			Creating another project - this one will resemble Pinterest
			<br>
			Built by:
			<%= link_to "Sidd Tewari", "http://siddtewari.com" %>
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>